/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c73a0f;
  border-radius: 99999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #952c0c;
}
